#index-view {
  font-size: 0.8em;
  color: #868686;
}
#index-view .header {
  height: 60px;
  line-height: 60px;
  background: #E8E9ED;
  font-size: 1.8em;
  text-align: center;
  color: #727377;
  position: relative;
}
#index-view .logout {
  position: absolute;
  right: 10px;
  top: 10px;
  border-left: 2px solid #E8E8E8;
  width: 40px;
  height: 40px;
  line-height: 60px;
  background: #7EAE36;
}
#index-view .base-info {
  height: 80px;
  line-height: 80px;
}
#index-view .avatar {
  width: 60px;
  background-image: url(../img/avatar.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border: 5px solid #7EAE36;
  display: inline-block;
  margin: 10px 20px;
}
#index-view .email {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2em;
}
#index-view .job-info {
  padding: 20px;
}

#index-view .user-info .profile-box,
#index-view .user-info .bid-box,
#index-view .user-info .publish-box {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  text-align: center;
}
#index-view .user-info .profile-box,
#index-view .user-info .bid-box {
  border-right: 2px solid #E8E8E8;
}
#index-view .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
#index-view .main .bid-box,
#index-view .main .publish-box {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#index-view .bid,
#index-view .publish {
  border-radius: 50%;
  height: 70px;
  line-height: 70px;
  width: 70px;
  border: 15px solid #7EAE36;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}